
@{
    ViewData["Title"] = "First";
}

<h1>First</h1>

<button id="button1" class="btn btn-primary mb-3">Ajax</button>
<div id="div1" class="alert alert-info"></div>

@section Scripts{
    <script>
        const btn = document.querySelector('#button1');
        const theDiv = document.querySelector('#div1');
        btn.addEventListener('click',async ()=> {
            try {
                //Ajax
                const response = await fetch('@Url.Content("~/api/index")');
                //not false
                if (!response.ok) {
                    throw new Error(response.status);
                }
                const data = await response.text();
                theDiv.innerHTML = `<h2>${data}</h2>`;
            } catch (err) {
                theDiv.innerHTML = `<h2>${err}</h2>`;
            } finally {

            }
          








           // console.log(fetch('/api/index'));
           //promise resolve() reject
            // fetch('/api/index') 
            //     .then(response => {
            //         // console.log(response);
            //         // console.log(response.text()); //promise
            //         return response.text();
            //     })
            //     .then(data => {
            //         //console.log(data);
            //         theDiv.innerHTML = `<h2>${data}</h2>`;
            //     })
            //~ 指向專案根目錄
            //fetch('~/api/index') 不能使用 ~



            // fetch('@Url.Content("~/api/index")')
            //     .then(response => {
            //         //取出headers資料
            //         response.headers.forEach((value, name) => {
            //             console.log(`${name}:${value}`);
            //         })
            //         console.log(`ok:${response.ok}`);
            //         console.log(`status:${response.status}`);
            //         return response.text();
            //     })
            //     .then(data => {
            //         //讀出資料，顯示資料
            //         //console.log(data);
            //         theDiv.innerHTML = `<h2>${data}</h2>`;
            //     })

            //theDiv.innerHTML = "<h2>Ajax...</h2>";
        })
    </script>
}
